/** @format */

.fab {
	position: fixed !important;
	bottom: 25px;
	right: 15px;
}

.fab-hover {
	position: fixed !important;
	bottom: 25px;
	right: 15px;
	width: 40px;
	height: 40px;
}

.swal2-container {
	z-index: 9999;
}

#root
	> div
	> div
	> div.ed-item.m-95.s-pb-4.s-to-right
	> div.ed-container.s-py-5
	> div.ed-item
	> div
	> div
	> div.MuiDataGrid-main
	> div:nth-child(3) {
	display: none;
}
