@import '~ed-grid/ed-grid';

// form
.fab {
	position: fixed !important;
	bottom: 25px;
	right: 15px;
}

.fab-hover {
	position: fixed !important;
	bottom: 25px;
	right: 15px;
	width: 40px;
	height: 40px;
}
